:root {
		--bg-color-nav: #ededf7;
		--lett-color-nav: #000;
		--bg-color-btn: #000;
		--orage-test: orange;
		--lett-color-btn: #fff;
		--bg-color-btn-active: #fff;
		--lett-color-btn-active: #000;
		--bg-color-forms: #ededf7;
		--bg-color-login-top: #ee154e;
		--bg-color-login-bottom: #ac0236;
		--lett-color-alert: #ff0000;
		--bg-color-btn-login: #163072;
		--bg-color-btn-login-active: #cfe2f3;
}

/*AAAG*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
		font-family: 'Montserrat', sans-serif;
}

.contenido {
		display: inline-block;
}

.transition {
		transition: background-color 0.08s linear 0.02s;
}

/*BARRA DE NAVEGACIÓN*/
.logo {
		position: relative;
		z-index: 100;
		float: left;
}

.navbar-light .navbar-nav .nav-link {
		height: 100%;
		padding: 1rem;
}

li .nav-item {
		background-color: red;
}

.navbar-light .navbar-nav .nav-link:hover {
		background-color: orange;
		border-radius: 5px;
}

.navbar-expand-lg .navbar-nav {
		align-items: center;
		height: 100%;
		display:flex;
}

@media (max-width: 992px) {
		ul .nav-link {
				background-color: var(--bg-color-nav);
		}

		#navbarSupportedContent {
				height: inherit !important;
				display: grid;
				justify-content: end;
				flex-direction: row;
				flex-wrap: wrap;
		}
		.collapse:not(.show) {
				display: none !important;
		}

		.CerrarSesion {
				height: auto;
		}

		.navbar-expand-lg .navbar-nav {
				display:block;
		}

}

@media (max-width: 1240px) {
		.columns {
				flex-direction: column;
		}

		.columns img {
				height: auto !important;
				width: 720px;
		}
}

#navbarSupportedContent {
		height: inherit !important;
		z-index:10;

}

.navbar {
		background-color: var(--bg-color-nav) !important;
}

.logo-ags {
		max-width: 180px;
}

.CerrarSesion {
		text-align: center;
		height: inherit;
		vertical-align: middle;
		display: flex !important;
		align-content: center;
		align-items: center;
		justify-content: center;
}

.nav-link {
		text-align: center;
}

.buscar {
		max-width: 25rem;
}

.btn {
		margin-bottom: 3px !important;
}

.btn-danger {
		display: flex;
		justify-content: center;
}

.navbar {
		padding: 0rem !important;
		height: 70px;
}

.navbar .navbar-expand-lg .navbar-light .bg-light {
		background-color: var(--bg-color-nav);
}

* {
		font-family: sans-serif;
}

body {
		margin: 0px;
		height: 100%
		/*background-image: url(https://www.ags.gob.mx/sitio_imgs/home/bg_cam.jpg );*/
}

/* LOGIN */
.fondo {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
}

.login_bck {
		background-image: url(https://ags.gob.mx/servicios/licitacionesyconcursos/imagenes/muni.jpg);
		display: flex;
		align-items: center;
		justify-content: center;
		background-size: cover;
		background-position: top center;
		background-repeat: no-repeat;
}

label {
		user-select: none;
}

input[type="checkbox" i] {
		margin-top: 1rem;
}

.login {
		width: 66%;
		display: flex;
		text-align: center;
		background-color: var(--bg-color-forms);
		padding: 2rem;
		padding-bottom: 0px;
		border-radius: 5px;
		box-shadow: 7px 13px 37px #000;
		flex-direction: column;
		align-content: center;
		align-items: center;
}

.Tlogin {
		background: linear-gradient(60deg,var(--bg-color-login-top),var(--bg-color-login-bottom));
		color: var(--lett-color-btn);
		border-radius: 5px;
		margin-top: -4.5rem;
		margin-left: -1rem;
		margin-right: -1rem;
		padding: 1rem;
		box-shadow: 8px 5px 30px #444;
}

h2 {
		margin: 0px !important;
}

.textito {
		margin-top: .9rem;
		width: 13rem;
		padding: .5rem;
		user-select: none;
		border-radius: 5px;
		outline: none;
}

.btn-darku {
		background-color: var(--bg-color-btn);
		color: var(--lett-color-btn);
		border-radius: 5px;
		height: 2rem;
		width: 15rem;
		user-select: none;
		margin-top: 0.5rem;
}

.btn-darku:hover {
		background-color: var(--bg-color-btn-active);
		color: var(--lett-color-btn-active);
		cursor: pointer;
}


.login .btn-darku {
		background-color: var(--bg-color-btn-login);
		color: var(--lett-color-btn);
		border-radius: 3px;
		padding: 1.125rem 2.25rem;
		padding-bottom: 2.5rem;
		font-size: 1.25rem;
		border: none;
		user-select: none;
		margin-top: 0.5rem;
		width: fit-content;
}

.login .btn-darku:hover {
		background-color: var(--bg-color-btn-login-active);
		color: var(--lett-color-btn-active);
		cursor: pointer;
}

.credentials {
		display: flex;
		flex-direction: column;
		width: -webkit-fill-available;
		align-items: center;
}

		.credentials .textito {
				border-radius: 0%;
				border: 0px !important;
				background-color: transparent;
				margin-bottom: 0px !important;
				width: -webkit-fill-available;
		}

.credentials .textito:hover {
		border-color: var(--orage-test);
		transition: ease-in-out;
		transition-duration: 3s,5s;
}

.credentials .textito:focus {
		border: transparent;
		background-color:transparent;
		background-image: linear-gradient(to top, var(--bg-color-btn-login) 2px, var(--bg-color-forms) 2px);
}

.credentials div {
		display: flex;
		align-items: center;
		padding-top: 1rem;
		width: -webkit-fill-available;
		justify-content: center;
}

.credentials span {
		color: #5b5b5b;
}

.alert-warning {
		color: #856404;
		background-color: #fff3cd;
		border-color: #ffeeba;
}

.alert {
		position: relative;
		padding: 0.75rem 1.25rem;
		margin-bottom: 1rem;
		border: 1px solid transparent;
		border-radius: 0.25rem;
}

#denegado{
		display: none;
}

/*PÁGINA BIENVENIDA*/
.text-center {
		display: flex;
		justify-content: center;
		flex-direction: column;
}

.columns {
		display: flex;
		justify-content: space-around;
}

.columns img {
		height: 30rem;
}

/* PÁGINA NUEVA, MODIFICAR Y BORRAR */
.new-page {
		text-align: left;
		background-color: var(--bg-color-forms);
		margin: auto;
		padding: 2rem;
		border-radius: 5px;
		/*box-shadow: 7px 13px 37px #000;*/
		margin-bottom: 3rem;
}

.info {
		display: block;
}

.sect {
		margin-left: 0rem;
}

.add-new-page {
		margin-top: 1rem;
		position: relative;
		display: grid;
}

input[type="time" i] {
		width: auto;
}

input[type="date" i] {
		width: auto;
}

select {
		width: auto !important;
}

a {
		text-decoration: none;
}

h4 .alert {
		background-color: var(--lett-color-alert);
}

@media (max-width: 773px) {
		.sect {
				display: inline-flex;
				flex-direction: column;
		}

		.info {
				display: flex;
				flex-direction: column;
		}

		.textito {
				margin-top: 0px;
				margin-bottom: 1rem;
		}
}

/*Sección de conenido nueva*/
textarea {
		height: 10rem;
		width: 90% !important;
		resize: both;
}

.borde-final {
		margin-bottom: 5rem;
}

.oculto {
		display: none;
}

/*Todas las páginas (tablas)*/

.sorting {
		width: fit-content;
}

.row-menu {
		justify-content: space-evenly;
}

.loading {
		position: fixed;
		left: 0px;
		top: 5rem;
		width: 100%;
		height: 100%;
		z-index: 9999;
		background: url(https://cfpvergedecortes.es/wp-content/uploads/2016/02/loading-1.gif) 50% 50% no-repeat rgb(249,249,249);
		background-size: 15rem;
		opacity: 10;
}

/*Contenidos, submenús y subtablas*/
.Titulo {
		display: flex;
		justify-content: space-between;
		padding: 1rem;
}

.ContenidoTitulo {
		display: inline-block;
}

.btn-agregarEnTabla {
		display: inline-block;
		margin: 0px;
}

.Titulo .btn-agregarEnTabla {
		display: flex;
		position: relative;
		width: -webkit-fill-available;
		flex-direction: row-reverse;
}
