@model IntentoNetCore1.Models.DB.Contenido
@*
		Se basa en el modelo hecho en la parte de Models para crear un objeto con esos "atributos"
*@
@{ ViewData["Title"] = "Borrar contenido"; }
<div class="imgBck">
		<img class="logo-trans" src="https://epagosmunicipio.ags.gob.mx/assets/2023/LogoMuni2023.png" />
</div>

<form class="new-page" action="BorrContenido" method="post">
		<h2>Borrar Sección de contenido nueva</h2>
		<hr />
		<div class="sect">
				<div class="info">
						<label>Folio Automático de Esta Sección (único):</label>
						<input disabled readonly type="text" class="textito" value="@Model.ID_Contenido" /><!--Tanto este valor como los demás deben ser tomados del registro del menú a modificar-->
						<input style="display:none"  type="text" class="textito" name="ID_Contenido" id="ID_Contenido" asp-for="ID_Contenido" value="@Model.ID_Contenido" /><!--Tanto este valor como los demás deben ser tomados del registro del menú a modificar-->
				</div>
				<div class="info">
						<label>Orden que se presenta este contenido dentro de la página</label>
						<input disabled type="text" class="textito" name="orden" value=@Model.Orden readonly/>
				</div>
				<div class="info">
						<label>Título del contenido</label>
						<input disabled type="text" class="textito" name="nombre_menu" value=@Model.Titulo readonly/>
				</div>
				<div class="info">
						<textarea disabled class="textito" id="contenido" name="Contenido" placeholder="Agregue el contenido aquí">@Model.contenido</textarea>
				</div>
				<input disabled type="submit" value="Borrar Sección de contenido" name="Borrar" class="btn btn-warning">
		</div>
</form>
@section scripts {

		<script src="~/js/ckeditor/ckeditor.js"></script>
		<script type="text/javascript">
		$(document).ready(function () {
						CKEDITOR.replace('contenido');
				});</script>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
		<script>
				$.alert("PRECAUCIÓN, ESTÁ A PUNTO DE BORRAR ESTA SECCIÓN DE CONTENIDO")
		</script>

		<script>
				$('input[type=submit]').confirm({
						title: 'Advertencia',
						content: 'Está a punto de borrar esta página junto con todo contenido dependiente de ella ¿Está seguro de querer proceder?',
						buttons: {
								Cancelar: function () {
										//Nada
								},
								Eliminar: {
										text: 'Eliminar',
										btnClass: 'btn-danger',
										keys: ['enter', 'shift'],
										action: function () {
												$('.new-page').submit();
												$.alert('@Model.Titulo ha sido eliminada');
										}
								}
						}
				});
		</script>


}