@model IntentoNetCore1.Models.Datos
@{
		ViewData["Title"] = "Home Page";
}

<div class="text-center">
		<h1 class="display-4">Bienvenido @Model.Nombre</h1>
		<div class="columns">
				<div>
						<img src="~/Res/Politica.jpeg" />
				</div>
				<div>
						<img src="~/Res/ViMision.jpeg" />
				</div>
		</div>
</div>
